/* 地図全体を覆うコンテナ */
.map-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.resizeimage img { width: 100vw; }

/* 地図画像 */
.map-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ボタン共通スタイル */
.button {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 14px;
  color: #000;
  text-align: center;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s ease;
}

/* ボタンのホバー効果 */
.button:hover {
  background-color: rgba(0, 128, 255, 0.8);
  color: #fff;
}

/* プルダウンメニューのスタイル */
.dropdown {
  position: fixed; /* 固定配置 */
  top: 0; /* ページ上部に配置 */
  left: 0; /* 左端に配置 */
  width: 100%; /* 幅を画面全体に広げる */
  background-color: rgba(255, 255, 255, 0.9); /* 背景色を白っぽく */
  z-index: 1000; /* 他の要素より前面に表示 */
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* ドロップシャドウ */
}

/* プルダウンメニューのセレクトボックス */
.dropdown-menu {
  font-size: 20px; /* フォントサイズを大きく */
  padding: 12px 20px; /* 内側の余白を大きく */
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  width: 100%; /* セレクトボックスの幅を広げる */
  box-sizing: border-box; /* パディングも含めた幅調整 */
}

/* ホバー時の効果 */
.dropdown-menu:hover {
  border-color: #007BFF;
  background-color: rgba(0, 128, 255, 0.1);
}


/* 全体マップに戻るボタンのコンテナ */
.return-button-container {
  text-align: center;
  margin: 20px 0;
}

/* 全体マップに戻るボタンのスタイル */
.return-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* ホバー時のスタイル */
.return-button:hover {
  background-color: #0056b3;
}


@media screen and (（max-width: 768px） {
  /* 768px以下の画面サイズで適用されるスタイル */
  }
  
  @media screen and (（min-width: 769px） and （max-width: 1024px） {
  /* 769px~1024pxの画面サイズで適用されるスタイル */
  }
  
  @media screen and (（min-width: 1025px） {
  /* 1025px以上の画面サイズで適用されるスタイル */
  }

  
