/* 地図全体を覆うコンテナ */
.map-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.resizeimage img { width: 100vw; }

/* 地図画像 */
.map-image {
  max-width: 100%;
  height: auto; /* 画像のアスペクト比を保持 */
}


/* ボタン共通スタイル */
.button {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 14px;
  color: #000;
  text-align: center;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s ease;
}

/* ボタンのホバー効果 */
.button:hover {
  background-color: rgba(0, 128, 255, 0.8);
  color: #fff;
}


/* 全体マップに戻るボタンのコンテナ */
.return-button-container {
  text-align: center;
  margin: 20px 0;
}

/* 全体マップに戻るボタンのスタイル */
.return-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* ホバー時のスタイル */
.return-button:hover {
  background-color: #0056b3;
}


@media screen and (（max-width: 768px） {
  /* 768px以下の画面サイズで適用されるスタイル */
  }
  
  @media screen and (（min-width: 769px） and （max-width: 1024px） {
  /* 769px~1024pxの画面サイズで適用されるスタイル */
  }
  
  @media screen and (（min-width: 1025px） {
  /* 1025px以上の画面サイズで適用されるスタイル */
  }

  
